body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2rem;
    color: #333;
    font-weight: 400;
}

h2 {
    font-size: 1.5rem;
    color: #333;
    font-weight: 400;
}

.TopName {
    display: block;
    text-align: center;
    background-color: #A2D5AB;
    width: 100%;
    height: 60px;
    font-weight: 900;
    font-size: 35px;
    padding: 0.5rem;
}

.TopName p {
    margin-top: 0;
}

#menu {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    background-color: #AFEEEE;
    color: #000;
}

#menu::before {
    content: "≡";
}

.hamburger {
    list-style: none;
    margin: 0;
}

.hamburger li {
    display: none;
}

.hamburger a {
    display: block;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

nav {
    background-color: #B3CDE0;
}

nav ul {
    margin: 0;
    list-style-type: none;
}

nav a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

nav .active {
    background-color: rgba(0, 0, 0, 0.3);
}

#offerings {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    background: linear-gradient(to right, #FAFAFA, #B3E5B3);
}

.offering-card {
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 400px;
    text-align: center;
    background-color: #fff;
}

.offering-card img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 2px solid #ccc;
}

.offering-card h3 {
    margin: 10px 0;
    padding: 0 10px;
}

.offering-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.offering-card:hover img {
    border-color: #000;
}

#things-to-do {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #AFEEEE, #FFDAB9);
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}

#things-to-do h2 {
    color: #000000;
    margin: 20px 0;
    font-size: 2em;
    z-index: 10;
}

#slideshow-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.slideshow-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

.slideshow-slide picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slideshow-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideshow-slide h3 {
    margin-top: 20px;
    font-size: 2em;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.active-slide {
    display: flex;
}

#other-content {
    padding: 20px;
    background-color: #FAFAFA;
    color: #333;
}

#announcement-banner {
    background-color: #FFDAB9;
    padding: 10px;
    text-align: center;
}

#close-banner {
    cursor: pointer;
    font-size: 1.5rem;
}

#intro-hero {
    background: linear-gradient(to right, #B0C4DE, #D6C6B8);
    padding: 20px;
    text-align: center;
}

.hero-container {
    max-width: 800px;
    margin: auto;
}

.hero-image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 500px; /* Fixed height for uniformity */
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-image.active {
    opacity: 1;
}

.hero-text h2 {
    color: #010101;
}

.hero-text p {
    color: #000000;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #A2D5AB;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #B3CDE0;
}
